<div class="auth">
  <div class="overlay">
    <div class="log">
      <div class="container">
        <div class="form">
        <%= image_tag "signupIcon.png", class: "login-img" %>
          <%= simple_form_for @user do |f| %>
          <%= f.input :first_name,autofocus: true, error: 'first_name is mandatory, please specify one' %>
          <%= f.input :last_name, error: 'last_name is mandatory, please specify one'%>
          <%= f.input :email %>
          <%= f.input :password %>
          <%= f.submit "Sign up", class: 'btn', data: { disable_with: "Signing up..." } %>
          <% end %>
          <p>Already have an Account? <%= link_to 'Login', login_path %> here.
        </div>
      </div>
    </div>
  </div>
</div>