<%= render "navbar" %>
<h1>Rooms</h1>
<div class="row">
    <% @rooms.each do |room| %>
        <div class="col s12 m4">
            <div class="row room-list">
                <div class="col s12 m12">
                    <div class="image"></div>
                </div>
                <div class="col s12 m12">
                    <h4><%= room.name %></h4>
                </div>
                <div class="col s6 m6">
                    <p>Location: <%= room.location %></p>
                </div>
                <div class="col s6 m6">
                    <p>Capacity: <%= room.capacity %></p>
                </div>
                <div class="col s6 m6">
                    <p>Availability: <%= room.availability %></p>
                </div>
                <div class="col s6 m6">
                <button class="waves-effect blue waves-light btn"><i class="material-icons right">cloud</i><%= link_to 'View', room_path(room), class: 'view-room' %></button>
                </div>
            </div>
        </div>
    <% end %>
</div>
<%= render "footer" %>